<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-mobile-menu" id="js-mobile-menu" {{action "menuToggle" on="click"}}>Menu</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        {{#if session.isAuthenticated }}
        <li class="nav-link"><a {{action 'invalidateSession'}}>Log Out</a></li>
        {{else}}
        <li class="nav-link">{{#link-to 'login'}}Log In{{/link-to}}</li>
        {{/if}}
        <li class="nav-link logo">
          {{#link-to 'index'}}
            <img src="https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder.png" alt="Logo image">
          {{/link-to}}
        </li>
        <li class="nav-link">{{#link-to 'secrets'}}Secrets{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</header>
