.vault-unsealer {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  height: calc(100vh - 150px);
  @include justify-content(center);

  .parameter {
    padding-bottom: 1em;
    text-align: center;
    &__input {
      width: 100%;
    }
  }

  .fadein {
    @include keyframes( fadeIn ) {
      from {
        color: adjust-color($action-color, $alpha: -0.7);
      }
      to {
        color: $action-color;
      }
    }

    @include animation( fadeIn 1.0s ease-in );
  }
}
