{{navigation-menu onLogout=(action 'loggedOut')}}

{{#if session.isAuthenticated }}
  {{#if session.data.isRoot }}
    <div class="flash-alert">You are currently authenticated as root.</div>
  {{/if}}
{{/if}}

{{outlet}}
