<div class="auth-backends">
  <h2>Log in with:</h2>
  <ul>
    <li class="auth-backend">
      {{#link-to 'login.userpass'}}A username and password{{/link-to}}
    </li>
    <li class="auth-backend">
      {{#link-to 'login.token'}}A client token{{/link-to}}
    </li>
  </ul>
</div>

{{outlet}}
