<ul>
{{#each model.data.keys as |secret_key|}}
  {{#if secret_key}}
  <li>{{#link-to 'secrets.show' secret_key}}{{secret_key}}{{/link-to}}</li>
  {{/if}}
{{else}}
  <li><h2>No secrets</h2></li>
{{/each}}
</ul>

{{outlet}}
